# --- PyInstaller (Сборка .exe) ---
# Сюда PyInstaller складывает временные файлы при компиляции (не нужны в Git)
build/
# Сюда сохраняются логи сборки
*.manifest
*.spec

# Исключаем готовую папку dist, ЕСЛИ вы загружаете .exe в релизы вручную.
# Если вы хотите хранить .exe прямо в репозитории (не рекомендуется), удалите строку ниже:
dist/


# --- Виртуальное окружение (Virtual Environment) ---
# Папки вашего локального окружения, где хранятся установленные библиотеки
venv/
.venv/
env/
.env/
ENV/


# --- Кэш Python ---
# Автоматически создаваемые файлы компиляции Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/


# --- Конфиденциальные данные ---
# Локальные переменные окружения (пароли, токены, ключи API)
.env
*.env.local


# --- Настройки редакторов кода ---
# VS Code
.vscode/
# PyCharm
.idea/
# Системные файлы Mac
.DS_Store
